### Python Basics Revision

This tutorial was originally written by [Justin Johnson](https://web.eecs.umich.edu/~justincj/) for cs231n. It was adapted as a Jupyter notebook for cs228 by [Volodymyr Kuleshov](http://web.stanford.edu/~kuleshov/) and [Isaac Caswell](https://symsys.stanford.edu/viewing/symsysaffiliate/21335).

This version has been adapted for Colab by Kevin Zakka for the Spring 2020 edition of [cs231n](https://cs231n.github.io/) and later modified for the AIF laboratory in early 2022. It runs Python3 by default.

### Introduction

In [ ]:
!python --version

Python 3.10.12

### Basics of Python

Python is a high-level, dynamically typed multiparadigm programming language. Python code is often said to be almost like pseudocode, since it allows you to express very powerful ideas in very few lines of code while being very readable. As an example, here is an implementation of the classic quicksort algorithm in Python:

In [ ]:
def quicksort(arr):
    if len(arr) <= 1:
        return arr
    pivot = arr[len(arr) // 2]
    left = [x for x in arr if x < pivot]
    middle = [x for x in arr if x == pivot]
    right = [x for x in arr if x > pivot]
    return quicksort(left) + middle + quicksort(right)

print(quicksort([3,6,8,10,1,2,1]))

[1, 1, 2, 3, 6, 8, 10]

# Basic data types

### Numbers

Integers and floats work as you would expect from other languages:

In [ ]:
x = 3
print(x, type(x))

3 <class 'int'>

In [ ]:
print(x + 1)   # Addition
print(x - 1)   # Subtraction
print(x * 2)   # Multiplication
print(x ** 2)  # Exponentiation

4
2
6
9

In [ ]:
x += 1
print(x)
x *= 2
print(x)

4
8

In [ ]:
y = 2.5
print(type(y))
print(y, y + 1, y * 2, y ** 2)

<class 'float'>
2.5 3.5 5.0 6.25

Note that unlike many languages, Python does not have unary increment (x++) or decrement (x--) operators.

Python also has built-in types for long integers and complex numbers; you can find all of the details in the [documentation](https://docs.python.org/3.7/library/stdtypes.html#numeric-types-int-float-long-complex).

### Booleans

Python implements all of the usual operators for Boolean logic, but uses English words rather than symbols (`&&`, `||`, etc.):

In [ ]:
t, f = True, False
print(type(t))

<class 'bool'>

Now we let's look at the operations:

In [ ]:
print(t and f) # Logical AND;
print(t or f)  # Logical OR;
print(not t)   # Logical NOT;
print(t != f)  # Logical XOR;

False
True
False
True

### Strings

In [ ]:
hello = 'hello'   # String literals can use single quotes
world = "world"   # or double quotes; it does not matter
print(hello, len(hello))

hello 5

In [ ]:
hw = hello + ' ' + world  # String concatenation
print(hw)

hello world

In [ ]:
hw12 = '{} {} {}'.format(hello, world, 12)  # string formatting
print(hw12)

hello world 12

String objects have a bunch of useful methods; for example:

In [ ]:
s = "hello"
print(s.capitalize())  # Capitalize a string
print(s.upper())       # Convert a string to uppercase; prints "HELLO"
print(s.rjust(7))      # Right-justify a string, padding with spaces
print(s.center(7))     # Center a string, padding with spaces
print(s.replace('l', '(ell)'))  # Replace all instances of one substring with another
print('  world '.strip())  # Strip leading and trailing whitespace

Hello
HELLO
  hello
 hello
he(ell)(ell)o
world

You can find a list of all string methods in the [documentation](https://docs.python.org/3.7/library/stdtypes.html#string-methods).

### Conditional Statements

```
if <expr>:
    <statement(s)>
elif <expr>:
    <statement(s)>
elif <expr>:
    <statement(s)>
    ...
else:
    <statement(s)>
<statement(s) after if>
```

In [ ]:
name = 'Joe'
if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Joe':
    print('Hello Joe')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print("I don't know who you are!")
print("Done with the if/elif/else statements")

Hello Joe
Done with the if/elif/else

# Containers

Python includes several built-in container types: lists, dictionaries, sets, and tuples.

### Lists

A list is the Python equivalent of an array, but is resizeable and can contain elements of different types:

In [ ]:
xs = [3, 1, 2]   # Create a list
print(xs, xs[2])
print(xs[-1])     # Negative indices count from the end of the list; prints "2"

[3, 1, 2] 2
2

In [ ]:
xs[2] = 'foo'    # Lists can contain elements of different types
print(xs)

[3, 1, 'foo']

In [ ]:
xs.append('bar') # Add a new element to the end of the list
print(xs)

[3, 1, 'foo', 'bar']

In [ ]:
x = xs.pop()     # Remove and return the last element of the list
print(x, xs)

bar [3, 1, 'foo']

As usual, you can find all the gory details about lists in the [documentation](https://docs.python.org/3.7/tutorial/datastructures.html#more-on-lists).

### Slicing

In addition to accessing list elements one at a time, Python provides concise syntax to access sublists; this is known as slicing:

In [ ]:
nums = list(range(5))    # range is a built-in function that creates a list of integers
print(nums)         # Prints "[0, 1, 2, 3, 4]"
print(nums[2:4])    # Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"
print(nums[2:])     # Get a slice from index 2 to the end; prints "[2, 3, 4]"
print(nums[:2])     # Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
print(nums[:])      # Get a slice of the whole list; prints ["0, 1, 2, 3, 4]"
print(nums[:-1])    # Slice indices can be negative; prints ["0, 1, 2, 3]"
nums[2:4] = [8, 9] # Assign a new sublist to a slice
print(nums)         # Prints "[0, 1, 8, 9, 4]"

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 8, 9, 4]

##### Warmup slicing
1. Print the first 4 elements from slice_list using slicing.
2. Print the last 5 elements from slice_list using slicing.
3. Print the 4th, 5th, 6th and 7th elements from slice_list using slicing.
4. Print the sum of the first and last elements from slice_list.

In [ ]:
# Write your code below
slice_list = list(range(4, 25, 2))

### Loops

You can loop over the elements of a list like this:

In [ ]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)

cat
dog
monkey

If you want access to the index of each element within the body of a loop, use the built-in `enumerate` function:

In [ ]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
    print('#{}: {}'.format(idx + 1, animal))

#1: cat
#2: dog
#3: monkey

### List comprehensions:

When programming, frequently we want to transform one type of data into another. As a simple example, consider the following code that computes square numbers:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

[0, 1, 4, 9, 16]

You can make this code simpler using a list comprehension:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)

[0, 1, 4, 9, 16]

List comprehensions can also contain conditions:

In [ ]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16]

### Dictionaries

A dictionary stores (key, value) pairs, similar to a `Map` in Java or an object in Javascript. You can use it like this:

In [ ]:
d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data
print(d['cat'])       # Get an entry from a dictionary; prints "cute"
print('cat' in d)     # Check if a dictionary has a given key; prints "True"

cute
True

In [ ]:
d['fish'] = 'wet'    # Set an entry in a dictionary
print(d['fish'])      # Prints "wet"

wet

In [ ]:
print(d['monkey'])  # KeyError: 'monkey' not a key of d

KeyError: 'monkey'

In [ ]:
print(d.get('monkey', 'N/A'))  # Get an element with a default; prints "N/A"
print(d.get('fish', 'N/A'))    # Get an element with a default; prints "wet"

N/A
wet

In [ ]:
del d['fish']        # Remove an element from a dictionary
print(d.get('fish', 'N/A')) # "fish" is no longer a key; prints "N/A"

N/A

You can find all you need to know about dictionaries in the [documentation](https://docs.python.org/2/library/stdtypes.html#dict).

It is easy to iterate over the keys in a dictionary:

In [ ]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal, legs in d.items():
    print('A {} has {} legs'.format(animal, legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

Dictionary comprehensions: These are similar to list comprehensions, but allow you to easily construct dictionaries. For example:

In [ ]:
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print(even_num_to_square)

{0: 0, 2: 4, 4: 16}

### Sets

A set is an unordered collection of distinct elements. As a simple example, consider the following:

In [ ]:
animals = {'cat', 'dog'}
print('cat' in animals)   # Check if an element is in a set; prints "True"
print('fish' in animals)  # prints "False"

True
False

In [ ]:
animals.add('fish')      # Add an element to a set
print('fish' in animals)
print(len(animals))       # Number of elements in a set;

True
3

In [ ]:
animals.add('cat')       # Adding an element that is already in the set does nothing
print(len(animals))
animals.remove('cat')    # Remove an element from a set
print(len(animals))

3
2

_Loops_: Iterating over a set has the same syntax as iterating over a list; however since sets are unordered, you cannot make assumptions about the order in which you visit the elements of the set:

In [ ]:
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print('#{}: {}'.format(idx + 1, animal))

#1: dog
#2: cat
#3: fish

Set comprehensions: Like lists and dictionaries, we can easily construct sets using set comprehensions:

In [ ]:
from math import sqrt
print({int(sqrt(x)) for x in range(30)})

{0, 1, 2, 3, 4, 5}

### Tuples

A tuple is an (immutable) ordered list of values. A tuple is in many ways similar to a list; one of the most important differences is that tuples can be used as keys in dictionaries and as elements of sets, while lists cannot. Here is a trivial example:

In [ ]:
d = {(x, x + 1): x for x in range(10)}  # Create a dictionary with tuple keys
t = (5, 6)       # Create a tuple
print(type(t))
print(d[t])
print(d[(1, 2)])

<class 'tuple'>
5
1

In [ ]:
t[0] = 1

TypeError: ignored

# Functions

Python functions are defined using the `def` keyword. For example:

In [ ]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print(sign(x))

negative
zero
positive

We will often define functions to take optional keyword arguments, like this:

In [ ]:
def hello(name, loud=False):
    if loud:
        print('HELLO, {}'.format(name.upper()))
    else:
        print('Hello, {}!'.format(name))

hello('Bob')
hello('Fred', loud=True)

Hello, Bob!
HELLO, FRED

### Warmup functions
Write a function that takes as input two lists and returns a list containing all of the odd numbers from list_1 concatenated with all even numbers from list_2

(e.g. [3, 4, 5, 6] and [2, 3, 4, 5] would return [3, 5, 2, 4]).

In [ ]:
def concat_lists( list1, list2 ):
  odd = [ number for number in list1 if number%2==1 ]
  even = [ number for number in list2 if number%2==0 ]
  return odd + even
l1 = [ 3, 4, 5, 6 ]
l2 = [ 2, 3, 4, 5 ]
print(concat_lists(l1,l2))

[3, 5, 2, 4]

There is a lot more information about Python functions [in the documentation](https://docs.python.org/3.7/tutorial/controlflow.html#defining-functions).

# Classes

The syntax for defining classes in Python is straightforward:

In [ ]:
class Greeter(object):

    # Constructor
    def __init__(self, name):
        self.name = name  # Create an instance variable

    # Instance method
    def greet(self, loud=False):
        if loud:
            print('HELLO, %s!' % self.name.upper())
        else:
            print('Hello, %s' % self.name)

g = Greeter('Fred')  # Construct an instance of the Greeter class
g.greet()            # Call an instance method; prints "Hello, Fred"
g.greet(loud=True)   # Call an instance method; prints "HELLO, FRED!"

Hello, Fred
HELLO, FRED!

### Warmup Classes
Create a Student class that has the name, age and grade attributes.

Display all of the students whose grades are greater than 7.

In [ ]:
class Student(object):

  def __init__(self, name, age, grade):
      self.name = name
      self.age = age
      self.grade = int(grade)

  def __repr__(self):
      return f"Student(name={self.name}, age={self.age}, grade={self.grade})"

def disp_good_students(students):

  good_students = [ student for student in students if student.grade > 7 ]

  for student in good_students:
    print(student)


# Write your code above, uncomment the next line after you've created your class
stud_list = [Student('Mihai', 17, '10'), Student('Marina', 18, '10'), Student('Dorian', 17, 7), Student('Felicia', 17, 6), Student('Lia', 16, 5)]

disp_good_students(stud_list)

Student(name=Mihai, age=17, grade=10)
Student(name=Marina, age=18, grade=10)

# Python Revision Exercises
Add code cells below and write your code for exercises 1 through 9

In [ ]:
#Input for 1 & 2
num_list = [23, -14, -7, -9, 11, 35, -6, -1010, 530, -410, 30, 78, 160, 185, 150, 530, 55, 34, -18, 25, 44, 128, 515, 128, 1250]

1. **Exercise 1:** Print all the **negative even numbers** contained in **num_list**
2. **Exercise 2:** Calculate the total sum of the **first 5 elements** and **last 5 elements** from **num_list**

In [ ]:
def print_negative_even_numbers(list):
  negatives = [ num for num in list if num < 0 ]
  res = [ num for num in negatives if num % 2 == 0 ]
  print(res)

print_negative_even_numbers(num_list)

[-14, -6, -1010, -410, -18]

In [ ]:
def compute_sum(list):
  sum1 = sum(list[:5])
  sum2 = sum(list[-5:])
  print(sum1)
  print(sum2)
  return sum1+sum2

print(compute_sum(num_list))

4
2065
2069

In [ ]:
#Input for 3, 4 and 5
countries_list = ['Albania', 'Australia', 'Austria', 'Belgium', 'Bolivia', 'Brazil', 'Bulgaria', 'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Croatia', 'Czechia', 'Denmark', 'Ecuador', 'Estonia', 'Finland', 'France', 'Germany', 'Gibraltar', 'Greece', 'Guatemala', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Ireland', 'Israel', 'Italy', 'Japan', 'Latvia', 'Liechtenstein', 'Lithuania', 'Malaysia', 'Mexico', 'Moldova', 'Monaco', 'Netherlands', 'New Zealand', 'Norway', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Singapore', 'Slovakia', 'South Africa', 'South Korea', 'Spain', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'Ukraine', 'United Kingdom', 'United States', 'Uruguay', 'Venezuela']

3. **Exercise 3:** Find all the countries that end with the letter 'a' in **countries_list** that are longer than 6 characters.
4. **Exercise 4:** Find all of the countries in **countries_list** that consist of exactly two words (e.g., New Zealand).
5. **Exercise 5:** Create a new list consisting of all countries from **countries_list** that do not contain any of the vowels 'a' and 'e'. For example 'Bulgaria' should not appear in the new list.

In [ ]:
def search1(list):
  return [ country for country in list if country.endswith('a') and len(country)>6 ]
print(search1(countries_list))

['Albania', 'Australia', 'Austria', 'Bolivia', 'Bulgaria', 'Colombia', 'Costa Rica', 'Croatia', 'Czechia', 'Estonia', 'Guatemala', 'Indonesia', 'Lithuania', 'Malaysia', 'Moldova', 'Romania', 'Slovakia', 'South Africa', 'South Korea', 'Venezuela']

In [ ]:
def search2(list):
  return [ country for country in list if len(country.split()) == 2 ]
print(search2(countries_list))

['Costa Rica', 'Hong Kong', 'New Zealand', 'San Marino', 'South Africa', 'South Korea', 'United Kingdom', 'United States']

In [ ]:
def search3(list):
  result_list = [ country for country in list if 'a' not in country.lower() and 'e' not in country.lower() ]
  return result_list
print(search3(countries_list))

['Hong Kong']

In [ ]:
# Input for exercises 6, 7, and 8
countries_list = ['Albania', 'Australia', 'Austria', 'Belgium', 'Bolivia', 'Brazil', 'Bulgaria', 'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Croatia', 'Czechia', 'Denmark', 'Ecuador', 'Estonia', 'Finland', 'France', 'Germany', 'Gibraltar', 'Greece', 'Guatemala', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Ireland', 'Israel', 'Italy', 'Japan', 'Latvia', 'Liechtenstein', 'Lithuania', 'Malaysia', 'Mexico', 'Moldova', 'Monaco', 'Netherlands', 'New Zealand', 'Norway', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Singapore', 'Slovakia', 'South Africa', 'South Korea', 'Spain', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'Ukraine', 'United Kingdom', 'United States', 'Uruguay', 'Venezuela']
countries_population_millions = [2.9, 25.6, 8.9, 11.5, 11.6, 213.5, 6.9, 37.9, 19.1, 50.9, 5.1, 4.1, 10.7, 5.8, 17.4, 1.3, 5.5, 67.1, 83.2, 0.03, 10.4, 17.9, 9.9, 7.5, 9.8, 0.36, 1380, 273.5, 4.9, 8.7, 60.4, 126.3, 1.9, 0.04, 2.8, 32.4, 130.2, 2.6, 0.04, 17.3, 4.9, 5.4, 7.1, 33.1, 110.6, 37.9, 10.2, 19.2, 145.9, 0.03, 5.9, 5.5, 59.3, 51.7, 47.4, 10.3, 8.6, 23.8, 69.8, 82.4, 43.7, 66.7, 331.0, 3.5, 28.5]

6. **Exercise 6:** Create a dictionary called `country_pop_dict` where the keys are country names and the values are the respective populations in millions.

7. **Exercise 7:** From the `country_pop_dict` dictionary, find and print the country with the smallest population.

8. **Exercise 8:** From the `country_pop_dict` dictionary, find and print the country with the largest population.

In [ ]:
country_pop_dict = dict(zip(countries_list, countries_population_millions))

def get_smallest_population(dict):
  min_country = min(dict, key = dict.get)
  return min_country, dict[min_country]

def get_largest_population(dict):
  max_country = max(dict, key = dict.get)
  return max_country, dict[max_country]

print(get_smallest_population(country_pop_dict))
print(get_largest_population(country_pop_dict))

('Gibraltar', 0.03)
('India', 1380)

In [ ]:
# Input for exercise 9
student_grades = {
    'John': [87, 88, 95],
    'Samantha': [77, 82, 89],
    'Amanda': [78, 76, 88],
    'Brad': [82, 72, 88],
    'Daniel': [90, 94, 93],
}

9. **Exercise 9**: Design a function that accepts a dictionary, such as student_grades, as an argument. This dictionary comprises of students' names as keys, and their respective grades as values. The function should calculate and display each student's average grade, alongside their name.

In [ ]:
def compute_student_average_grade(student_grades_dict):

  for student, grades in student_grades_dict.items():

    if grades:
      average = sum(grades)/len(grades)
    else:
      average = 0

    print(f"student: {student} avearge: {average}")

compute_student_average_grade(student_grades)

student: John avearge: 90.0
student: Samantha avearge: 82.66666666666667
student: Amanda avearge: 80.66666666666667
student: Brad avearge: 80.66666666666667
student: Daniel avearge: 92.33333333333333