# Python Introduction

Python offers a simple and clean syntax where semicolons and curly braces are not required. Instead, it uses indentation to define structure, making the code easier to read and maintain. For those familiar with languages like C++ or Java, below is an example of basic syntax differences between C++ and Python.

C++
```
#include <iostream>
using namespace std;

void check_number(int num) {
    if (num % 2 == 0) {
        cout << num << " is even" << endl;
    } else {
        cout << num << " is odd" << endl;
    }
}

int main() {
    check_number(4);
    check_number(7);
    return 0;
}
```

Python
```
def check_number(num):
    if num % 2 == 0:
        print(f"{num} is even")
    else:
        print(f"{num} is odd")

check_number(4)
check_number(7)
```

In [ ]:
# @title Variable and Data Types
# Variable assignments with different data types
integer_number = 10
float_number = 3.14
string_text = "Hello, Python"
boolean_value = True

# Printing values and types
print("Integer:", integer_number, "Type:", type(integer_number))
print("Float:", float_number, "Type:", type(float_number))
print("String:", string_text, "Type:", type(string_text))
print("Boolean:", boolean_value, "Type:", type(boolean_value))

Integer: 10 Type: <class 'int'>
Float: 3.14 Type: <class 'float'>
String: Hello, Python Type: <class 'str'>
Boolean: True Type: <class 'bool'>

In [ ]:
print(string_text.replace(' ', 'H'))

Hello,HPython

In [ ]:
# @title Basic Operations
# Arithmetic operations
a = 15
b = 4

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Integer Division:", a // b)
print("Modulus:", a % b)
print("Exponentiation:", a ** b)

Addition: 19
Subtraction: 11
Multiplication: 60
Division: 3.75
Integer Division: 3
Modulus: 3
Exponentiation: 50625

In [ ]:
# @title Data Containers - Lists
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Accessing elements
print("First element:", my_list[0])
print("Last element:", my_list[-1])

# Modifying an element
my_list[2] = 10
print("Modified list:", my_list)

# Adding elements
my_list.append(6)
print("After appending:", my_list)

# Removing an element
my_list.remove(10)
print("After removing 10:", my_list)

First element: 1
Last element: 5
Modified list: [1, 2, 10, 4, 5]
After appending: [1, 2, 10, 4, 5, 6]
After removing 10: [1, 2, 4, 5, 6]

In [ ]:
print(my_list)
my_list.append('My string')
my_new_list = [1, 2, 3.5, 'asd']
my_list.append(my_new_list)
print(my_list)

[1, 2, 4, 5, 6, 'My string']
[1, 2, 4, 5, 6, 'My string', 'My string', [1, 2, 3.5, 'asd']]

In [ ]:
print(my_list[-1][0])

1

In [ ]:
# @title Slicing - a clean and powerful way to manipulate sequences in Python.
# Example list
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Slicing: extracting parts of the list
first_three = numbers[:3]  # First 3 elements
middle_section = numbers[3:7]  # Elements from index 3 to 6
every_other = numbers[::2]  # Every other element (step of 2)
reversed_list = numbers[::-1]  # Reversed list

# Print the results
print("First three elements:", first_three)
print("Middle section:", middle_section)
print("Every other element:", every_other)
print("Reversed list:", reversed_list)

First three elements: [0, 1, 2]
Middle section: [3, 4, 5, 6]
Every other element: [0, 2, 4, 6, 8]
Reversed list: [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Explanation

```
[:3]: Takes the first three elements.
[3:7]: Grabs the elements from index 3 to 6 (excluding index 7).
[::2]: Takes every second element.
[::-1]: Reverses the list.
```

The general form (or signature) of slicing is: ```sequence[start:stop:step]```

* **start**: The index where the slice begins (inclusive).
* **stop**: The index where the slice ends (exclusive).
* **step**: The interval between elements (optional, default is 1).

In [ ]:
# @title Iterating over a sequence
# Loop through a list
print(my_list)
for item in my_list:
    print("Item:", my_list[item])

[1, 2, 4, 5, 6, 'My string', 'My string', [1, 2, 3.5, 'asd']]
Item: 1
Item: 2
Item: 4
Item: 5
Item: 6
Item: My string
Item: My string
Item: [1, 2, 3.5, 'asd']

In [ ]:
# @title Iterating using range
numbers = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

# Iterate over the list using range
for i in range(0, len(numbers), 1):  # From index 0 to the end, every 2nd element
    print(f"Index {i}: {numbers[i]}")

Index 0: 5
Index 1: 10
Index 2: 15
Index 3: 20
Index 4: 25
Index 5: 30
Index 6: 35
Index 7: 40
Index 8: 45
Index 9: 50

In [ ]:
# @title Conditional Statements - if elif else
temperature = 25

if temperature > 30:
    print("It's hot outside.")
elif temperature > 20:
    print("It's a pleasant day.")
else:
    print("It's cold outside.")

It's a pleasant day.

In [ ]:
# @title Functions - basics
# Define a function to print a greeting
def greet(name):
    print("Hi", name, "!")

# Calling the function with a required argument
greet("Andreea")
greet("Alex")
greet(5)

Hi Andreea !
Hi Alex !
Hi 5 !

In [ ]:
# @title Functions - continued
# Define a function to calculate the total price after tax
def calculate_total_price(price, tax_rate=0.05, discount=0):
    """
    This function calculates the total price after applying tax and an optional discount.

    Arguments:
    - price: The base price of the item (required).
    - tax_rate: The percentage of tax to apply (optional, default is 5%).
    - discount: The amount of discount to subtract (optional, default is 0).

    Returns:
    - The total price after applying tax and discount.
    """
    # Calculate the price after tax
    price_with_tax = price * (1 + tax_rate)
    # Apply the discount
    total_price = price_with_tax - discount
    return total_price

# Calling the function with required arguments only
result1 = calculate_total_price(100)
print("Total price with default tax and no discount:", result1)

# Calling the function with a custom tax rate
result2 = calculate_total_price(100, tax_rate=0.07)
print("Total price with custom tax and no discount:", result2)

# Calling the function with a custom tax rate and a discount
result3 = calculate_total_price(100, tax_rate=0.07, discount=5)
print("Total price with custom tax and discount:", result3)

# Calling the function using keyword arguments (order of arguments can be changed)
result4 = calculate_total_price(price=200, discount=10, tax_rate=0.08)
print("Total price with keyword arguments:", result4)

Total price with default tax and no discount: 105.0
Total price with custom tax and no discount: 107.0
Total price with custom tax and discount: 102.0
Total price with keyword arguments: 206.0

c### Exercise 1 - Convert Kilometers to Miles
Write a function called km_to_miles(km) that converts a distance from kilometers to miles and displays it.



* km_to_miles(5) -  Expected output: 5 kilometers is equal to 3.11 miles
* km_to_miles(10) - Expected output: 10 kilometers is equal to 6.21 miles

In [ ]:
def greet(name):
    print("Hi", name, "!")

# Calling the function with a required argument
greet("Andreea")
greet("Alex")
greet(5)

In [ ]:
# Write your code below
# 1 km = 0.622 miles
def km_to_miles(km):
    miles = km * 0.622
    print(miles)

km_to_miles(10)

6.22

### Exercise 2 - Max temperature
Write a function called find_max_temperature(temps) that takes a list of temperatures and finds the highest one.

```
temperatures = [25, 30, 28, 31, 27, 26]
find_max_temperature(temperatures)  # Expected output: The highest temperature is 31°C
```

In [ ]:
# Write your code below
def km_to_miles(km):
    miles = km * 0.622
    print(miles)

def find_max_temperature(temperatures):
    max_value = 0
    for item in temperatures:
        if item > max_value:
            max_value = item
    return max_value

temperatures = [25, 30, 28, 31, 27, 26]

find_max_temperature(temperatures)

31

# Simple Model - Dripping Faucet
A very simple and intuitive model is a dripping faucet, where water drips at regular intervals into a container. The goal is to model how the water level in the container rises over time, assuming each drop has the same volume and the drips happen at regular intervals.

Assumptions:
* Each water drop has a fixed volume of 0.05 liters.
* The faucet drips once every 4 minutes.
* The container starts empty, and we want to track the water level for a period of time, say 10 minutes.

In [ ]:
# Parameters
drop_volume = 0.05  # Volume of one drop in liters
drip_interval = 4   # Time interval between drips in minutes
total_time = 10     # Total time in minutes
container_volume = 0  # Initial volume of water in the container

# List to store water levels at each minute
water_levels = []

# Simulate the dripping process
for minute in range(0, total_time + 1, 1):
    if minute > 0 and minute % 4 == 0:
        container_volume += drop_volume  # Add one drop each minute
    water_levels.append(container_volume)

# Print the water levels
for minute, level in enumerate(water_levels):
    print(f"Minute {minute}: Water level = {level:.2f} liters")

Minute 0: Water level = 0.00 liters
Minute 1: Water level = 0.00 liters
Minute 2: Water level = 0.00 liters
Minute 3: Water level = 0.00 liters
Minute 4: Water level = 0.05 liters
Minute 5: Water level = 0.05 liters
Minute 6: Water level = 0.05 liters
Minute 7: Water level = 0.05 liters
Minute 8: Water level = 0.10 liters
Minute 9: Water level = 0.10 liters
Minute 10: Water level = 0.10 liters

In [ ]:
# @title Adding randomness in Python
import random
random_value = random.random()
print(random_value)  # Output: Random float between 0.0 and 1.0

random_growth = random.uniform(0.04, 0.06)  # Random float between min and max values, here 0.04 and 0.06
print(random_growth)

random_poaching = random.randint(1, 5)  # Random integer between min and max values, here 1 and 5
print(random_poaching)

0.3016522202615852
0.05339036400668541
3

### Exercise 3 - Flip function
Write a function called flip(probability) that takes as input a number between 0 and 1 and returns True with that probability and False with 1-probability.

Example: flip(0.5) should return True on average 50% of the time.

In [ ]:
random_value = random.random()
print(random_value)  # Output: Random float between 0.0 and 1.0

random_growth = random.uniform(0.04, 0.06)  # Random float between min and max values, here 0.04 and 0.06
print(random_growth)

random_poaching = random.randint(1, 5)  # Random integer between min and max values, here 1 and 5
print(random_poaching)

In [ ]:
# Write your code below
def flip(probability):
    random_value = random.random()
    if random_value >= probability:
        return False
    else:
        return True

flip(0.1)

True

### Exercise 4 - Create your own model

Design a simple model for any system you like and then simulate it. Try to make use of the previously implemented flip() function during this exercise.

Example: A basketball player takes 10 independent free throws with a probability of 0.7 of getting a basket on each shot. Simulate this simple model a couple of times and see the average number of times the player scored. Does it match your expectation?

In [ ]:
# Write your code below